<div class="background-img"></div>

  <div *ngIf="!auth.user" class="container-content">
    <form [formGroup]="registerForm" action="">
      <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Digite um Email válido"
        errorText="Invalid email" ngModel email formControlName="email">
      </ion-input>
      <ion-input type="password" fill="solid" label="Senha" labelPlacement="floating" ngModel senha
        formControlName="senha">
      </ion-input>

      <ion-button (click)="onSignin()" expand="full">Registrar</ion-button>
    </form>
  </div>

  <div *ngIf="auth.user">
    <p>Você está logado</p>
  </div>
