.background-img {
    background-image: url("https://img.freepik.com/fotos-premium/aviao-decolando-do-aeroporto_37416-74.jpg");
    background-size: cover; /* Para cobrir todo o elemento */
    background-position: center; /* Para centralizar a imagem */
    height: 60vh; /* Altura do elemento, ajuste conforme necessário */
.container-content{
    padding: 20px;
}
}
